.circle {
    display: grid;
    grid-template-areas: "layer";
    place-items: center;
    background: #185adb;
    border-radius: 50%;
  
    --radius: 25vmin;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
  }
  
  .stat {
    grid-area: layer;
    width: 63vmin;
    height: 63vmin;
    border-radius: 50%;
  
    display: grid;
    place-items: center;
  
    background: #ffc947;
    color: #185adb;
    font-weight: bold;
    font-size: 3vmin;

      // Decimal value, 0-1 based on the child's index. index / total
  --d: calc(var(--i) / var(--total));
  // Offset to get better starting placement on the circle 0 deg
  --r-offset: 0deg;
  // Full circle 360 deg
  --r-amount: 1turn;
  // Rotation based on the decimal and r modifiers (360 * (index/total)) + 0deg
  --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
  // Rotate, transform out, then negative rotation so the content appears upright
  --transform: rotate(var(--r)) translate(var(--radius))
    rotate(calc(1 * var(--r)));

  transform: var(--transform);
  transition: transform 1.5s ease-in-out;
}

.spin {
    // Animate the rotation
    --r-offset: -90deg;
  }