.translateX {
    animation: slide 1.5s ease-in-out forwards;
}

@keyframes slide {
    0% {
        transform: translateX(calc(92px * var(--difference)));
    }
    100% {
        transform: translateX(0px);
    }
}